* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

.user-input {
  height: 30vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

  #input-text {
    height: 50px;
    width: 300px;
    padding-left: 20px;
    border-radius: 5px;
  }

  #submit-button {
    height: 50px;
    width: 200px;
  }
}

.answer {
  align-self: center;
  height: 30vh;
  width: 70%;
  border: 2px solid black;
  font-size: 2em;
  padding: 30px;
  font-weight: bold;
  letter-spacing: 0.2em;
  word-wrap: break-word;
}
